<nav class="navbar navbar-expand-lg navbar-dark bg-dark justify-content-between">
  <div class="navbar-nav ps-3">
    <a class="nav-item nav-link " routerLink="/content">Home</a>
    <a class="nav-item nav-link " routerLink="/content/add">Add Content</a>
    <a class="nav-item nav-link " routerLink="/content/history">History Log</a>
  </div>
  <div>
    <div class="input-group">
      <input type="search" class="form-control input-group-sm js-search-input" placeholder="Search" aria-label="Search" (keydown.enter)="searchContent($event.target)" #customSearch/>
        <button type="button" class="btn btn-primary search-button" (click)="searchContent(customSearch)">
          <i class="fa fa-search"></i>
        </button>
    </div>
  </div> 
  <div class="pe-3">
    <button class="btn btn-primary" *ngIf="tokenStorageService.getToken()">{{tokenStorageService.getUser().username}}</button>
    <button class="btn btn-danger" (click)="logout()" *ngIf="tokenStorageService.getToken()">Logout</button>
    <button class="btn btn-primary" *ngIf="!tokenStorageService.getToken()" routerLink="/user/login">Login</button>
  </div>
</nav>
