.id-title-container{
  display: flex;
  justify-content: space-between;
}

.id,.type,.description,.status{
  margin-left: 10px;
  color: white;
}

.title{
  margin-right: 10px;
  color: white;
}

.everything-container{
  height: 70%;
  padding-bottom: 20%;

}

.edit-delete-buttons-container{
  position: absolute;
}


.history-button {
  position: fixed;
  left: 20px;
  bottom: 30px;
  align-items: center;
  justify-content: center;
  padding-bottom: 10px;
}

.close-button {
  position: absolute;
  background-color: gray;
  top: 0px;
  right: 0px;
}

.sth {
  position: fixed;
  bottom: 45px;
  left: 80px;
  background-color: grey;
  z-index: 10;
}
 
.close-button {
  position: absolute;
  top: -18px;
  right: -18px;
}

.history-container2 {
  height: 200px; 
  width: 475px;
  overflow-y: scroll;
  flex-direction: column-reverse;
  display: flex;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.15);
}

.content-ci{
  transition: transform 250ms;
}

.content-ci:hover{
  transition: transform 150ms;
  transform: translateY(-20px);
}