<div class="vh-100 mt-3">
  <div class="container h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-lg-12 col-xl-11">
        <div class="card text-black" style="border-radius: 25px;">
          <div class="card-body p-md-5">
            <div class="row justify-content-center">
              <div class="col-md-10 col-lg-7 col-xl-6 order-2 order-lg-2">

                <p class="text-center h2 fw-bold mb-5 mx-1 mx-md-4 mt-4">Content Calender</p>

                <form class="mx-1 mx-md-5" [formGroup]="registerUserForm" (ngSubmit)="$event.preventDefault(); submitForm()">

                  <div class="d-flex flex-row align-items-center mb-3">
                    <i class="fa fa-user fa-lg me-3 fa-fw" style="color: blue;"></i>
                    <div class="form-outline flex-fill mb-0">
                      <input type="text" class="form-control" placeholder="Username" formControlName="usernameControl"
                        [ngClass]="{ 'is-invalid': registerUserForm.get('usernameControl')!.invalid && (registerUserForm.get('usernameControl')!.dirty || registerUserForm.get('usernameControl')!.touched),
                      'is-valid': registerUserForm.get('usernameControl')!.valid && (registerUserForm.get('usernameControl')!.dirty || registerUserForm.get('usernameControl')!.touched) }" />
                      <div
                        *ngIf="registerUserForm.get('usernameControl')!.invalid && registerUserForm.get('usernameControl')!.dirty || registerUserForm.get('usernameControl')!.touched"
                        class="text-danger d-block">
                        <small *ngIf="registerUserForm.get('usernameControl')?.errors?.['required']">
                          Username must not be empty
                        </small>
                        <small *ngIf="registerUserForm.get('usernameControl')?.errors?.['minlength']">
                          Username length must be more than 2 characters
                        </small>
                      </div>

                      <div
                        *ngIf="registerUserForm.get('usernameControl')!.valid && registerUserForm.get('usernameControl')!.dirty || registerUserForm.get('usernameControl')!.touched"
                        class="text-danger d-block ">
                        <small *ngIf="registerUserForm.get('usernameControl')?.errors?.['usedUsername']">
                          Email is already registred
                        </small>
                      </div>
                    </div>
                  </div>

                  <div class="d-flex flex-row align-items-center mb-3">
                    <i class="fa fa-envelope fa-lg me-3 fa-fw" style="color: red"></i>
                    <div class="form-outline flex-fill mb-0">
                      <input type="email" class="form-control" placeholder="Email" formControlName="emailControl"
                        [ngClass]="{ 'is-invalid': registerUserForm.get('emailControl')!.invalid && (registerUserForm.get('emailControl')!.dirty || registerUserForm.get('emailControl')!.touched),
                      'is-valid': registerUserForm.get('emailControl')!.valid && (registerUserForm.get('emailControl')!.dirty || registerUserForm.get('emailControl')!.touched) }" />

                      <div
                        *ngIf="registerUserForm.get('emailControl')!.invalid && registerUserForm.get('emailControl')!.dirty || registerUserForm.get('emailControl')!.touched"
                        class="text-danger d-block ">
                        <small *ngIf="registerUserForm.get('emailControl')?.errors?.['required']">
                          Email must not be empty
                        </small>
                        <small *ngIf="registerUserForm.get('emailControl')?.errors?.['email']">
                          Email must be in valid format
                        </small>
                      </div>

                      <div
                        *ngIf="registerUserForm.get('emailControl')!.valid && registerUserForm.get('emailControl')!.dirty || registerUserForm.get('emailControl')!.touched"
                        class="text-danger d-block ">
                        <small *ngIf="registerUserForm.get('emailControl')?.errors?.['usedEmail']">
                          Email is already registred
                        </small>
                      </div>
                    </div>
                  </div>

                  <div class="d-flex flex-row align-items-center mb-3">
                    <i class="fa fa-lock fa-lg me-3 fa-fw" style="color: grey"></i>
                    <div class="form-outline flex-fill mb-0">
                      <input type="password" class="form-control" placeholder="Password"
                        formControlName="passwordControl"
                        [ngClass]="{ 'is-invalid': registerUserForm.get('passwordControl')!.invalid && (registerUserForm.get('passwordControl')!.dirty || registerUserForm.get('passwordControl')!.touched),
                      'is-valid': registerUserForm.get('passwordControl')!.valid && (registerUserForm.get('passwordControl')!.dirty || registerUserForm.get('passwordControl')!.touched) }" autocomplete="off"/>

                      <div
                        *ngIf="registerUserForm.get('passwordControl')!.invalid && registerUserForm.get('passwordControl')!.dirty || registerUserForm.get('passwordControl')!.touched"
                        class="text-danger d-block">
                        <small *ngIf="registerUserForm.get('passwordControl')?.errors?.['required']">
                          Password must not be empty
                        </small>
                        <small *ngIf="registerUserForm.get('passwordControl')?.errors?.['minlength']">
                          Password must be more than 2 characters
                        </small>
                      </div>
                    </div>
                  </div>

                  <div class="d-flex flex-row align-items-center mb-3">
                    <i class="fa fa-key fa-lg me-3 fa-fw" style="color: orange;"></i>
                    <div class="form-outline flex-fill mb-0">
                      <input type="password" id="form3Example4cd" class="form-control" placeholder="Confirm Password"
                        formControlName="confirmPasswordControl"
                        [ngClass]="{ 'is-invalid': (registerUserForm.errors !== null && (registerUserForm.get('confirmPasswordControl')!.dirty || registerUserForm.get('confirmPasswordControl')!.touched)) || registerUserForm.get('confirmPasswordControl')?.invalid && (registerUserForm.get('confirmPasswordControl')!.dirty || registerUserForm.get('confirmPasswordControl')!.touched),
                        'is-valid': registerUserForm.errors === null && (registerUserForm.get('confirmPasswordControl')!.dirty || registerUserForm.get('confirmPasswordControl')!.touched) }" autocomplete="off"/>

                        <div
                          *ngIf="registerUserForm.get('confirmPasswordControl')!.invalid && registerUserForm.get('confirmPasswordControl')!.dirty || registerUserForm.get('confirmPasswordControl')!.touched"
                          class="text-danger d-block">
                          <small *ngIf="registerUserForm.get('confirmPasswordControl')?.errors?.['required']">
                          Confirm password must not be empty
                          </small>
                      </div>

                      <div
                        *ngIf="registerUserForm.errors !== null && registerUserForm.get('confirmPasswordControl')!.dirty || registerUserForm.get('confirmPasswordControl')!.touched"
                        class="text-danger d-block">
                        <small *ngIf="registerUserForm.errors !== null">
                          Confirm password must be the same as password
                        </small>
                      </div>
                    </div>
                  </div>

                  <div class="form-check d-flex justify-content-center mb-4">
                    <div class="form-outline flex-fill mb-1">
                      <input class="form-check-input me-2" type="checkbox" value="" formControlName="checkTosControl" />
                      <p class="form-check-label">
                        I agree all statements in
                        <a class="tos-link" (click)="termsOfService()">Terms of Service</a>
                      </p>
                      <div
                        *ngIf="registerUserForm.get('checkTosControl')!.invalid && registerUserForm.get('checkTosControl')!.dirty || registerUserForm.get('checkTosControl')!.touched"
                        class="text-danger d-block">
                        <small *ngIf="registerUserForm.get('checkTosControl')?.errors?.['required']">
                          You have to agree to TOS in order to register
                        </small>
                      </div>
                    </div>
                  </div>

                  <div class="d-flex justify-content-center mx-4 mb-3 mb-lg-4">
                    <button type="submit" class="btn btn-primary"
                      [disabled]="registerUserForm.invalid">Register</button>
                  </div>

                  <div class="d-flex justify-content-start mx-4 mb-3 mb-lg-4">
                    <a routerLink="/user/login">Go back to Login</a>
                  </div>

                </form>

              </div>
              <div class="col-md-10 col-lg-6 col-xl-6 d-flex align-items-center order-1 order-lg-1">
                <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-registration/draw1.webp"
                  class="img-fluid" alt="Sample image">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>