.id,
.type,
.description,
.status {
  margin-left: 10px;
  color: white;
}

.title {
  margin-right: 10px;
  color: white;
}

.history-container {
  max-width: max-content;
  height: 200px;
  overflow-y: scroll;
  flex-direction: column-reverse;
  display: flex;
}

.history-button {
  position: fixed;
  left: 20px;
  bottom: 30px;
  align-items: center;
  justify-content: center;
  padding-bottom: 10px;
}

.close-button {
  position: absolute;
  background-color: gray;
  top: 0px;
  right: 0px;
}

.history-all-container {
  max-width: max-content;
  height: 200px;
  overflow-y: scroll;
  flex-direction: column-reverse;
  display: flex;
}

.sth {
  position: fixed;
  bottom: 45px;
  left: 80px;
  background-color: grey;
  z-index: 10;
}
 
.close-button {
  position: absolute;
  top: -18px;
  right: -18px;
}

.history-container2 {
  height: 200px; 
  width: 475px;
  overflow-y: scroll;
  flex-direction: column-reverse;
  display: flex;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.15);
}