<p> <a routerLink="/content">Return home</a> </p>
<p>user-list works!</p>

<div class="container bg-white">
  <table class="table table-primary table-striped">
    <thead class="thead-dark">
      <th scope="col">Username</th>
      <th scope="col">Email</th>
      <th scope="col">Password</th>
      <th scope="col">Role</th>
    </thead>
    <tr *ngFor="let user of userList" class="table-primary">
      <td>
        {{ user.username }}
      </td>
      <td class="table-primary">{{ user.email }}</td>
      <td>{{ user.password }}</td>
      <td>{{ user.role }}</td>
    </tr>
  </table>
</div>

